<div class="modal fade" id="modalAddLeave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Leave</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            <label for="full_name">Full name: </label>
            <input type="text" class="form-control" id="full_name" placeholder="Full Name">
          </div>

          <div class="md-form mb-4">
            <i class="fas fa-calendar-check prefix grey-text"></i>
            <label for="start_date">Start Date: </label>
            <input type="date" class="form-control" id="start_date" placeholder="dd/mm/yyyy">
          </div>
          <div class="md-form mb-4">
            <i class="fas fa-calendar-times prefix grey-text"></i>
            <label for="end_date">End Date: </label>
            <input type="date" class="form-control" id="end_date" placeholder="dd/mm/yyyy">
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-default">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
